.filterLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  margin-bottom: 8px;
}

.filterContainer {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 32px;
}

.filterButton {
  display: inline-flex;
  justify-content: space-between;
  width: 226px;
  border-radius: 14px;
  padding: 16px 18px;
  background-color: var(--dark-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: var(--background);
  border: none;
  cursor: pointer;
}

.icon {
  margin-left: 8px;
  height: 20px;
  width: 20px;
}

.dropdown {
  position: absolute;
  margin-top: 8px;
  width: 226px;
  border-radius: 14px;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
  z-index: 50;
  padding: 14px 18px 6px 18px;
}

.dropdownItem {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 111%;
  color: rgba(17, 16, 28, 0.3);
  margin-bottom: 12px;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.dropdownItem:hover {
  color: var(--foreground);
}

.dropdownItemActive {
  color: var(--foreground);
}
