.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.modal {
  position: relative;
  background-color: var(--background);
  max-width: 600px;
  max-height: 908px;
  border-radius: 30px;
  padding: 24px;
  margin: 0 16px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal {
    padding: 64px;
    margin: 0;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0 0 20px;
  max-width: 400px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 40px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--text);
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  .description {
    font-size: 16px;
  }
}

.nannyInfo {
  display: flex;
  gap: 14px;
  align-items: center;
  margin: 0 0 40px;
}

.nannyAvatar {
  border-radius: 15px;
}

.nannyLabel {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin: 0 0 4px;
}

.nannyName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formRow {
  display: flex;
  gap: 8px;
}

.formField {
  flex: 1;
}

.inputWrapper {
  height: 52px;
}

.input {
  composes: input from global;
  width: 100%;
}

.input:focus {
  outline: none;
}

.textareaWrapper {
  height: 116px;
  margin-bottom: 24px;
}

.textarea {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: inherit;
}

.textarea:focus {
  outline: none;
}

.error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 2px;
}

.appointmentButton {
  margin: 0;
  padding: 16px 28px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--background);
}
