.main {
  background-color:var(--grey-bg);
  padding-top: 64px;
  padding-bottom: 100px;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .main {
    padding-left: 128px;
    padding-right: 128px;
  }
}
